body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}
.features-section {
background-color: #000;
color: white;
padding: 80px 20px;
text-align: left;
}
.features-section h1 {
font-size: 3.5rem;
font-weight: 600;
margin-bottom: 60px;
max-width: 7000px;
margin-left: auto;
margin-right: auto;
}

.features-section h2 {
font-size: 2.0rem;
font-weight: 500;
margin-bottom: 50px;
max-width: 800px;
margin-left: 50px;
margin-right: 50px;
}

.features-grid {
display: flex;
justify-content: space-between;
gap: 2rem;
flex-wrap: wrap;
max-width: auto;
margin: auto;
}

.feature-card {
flex: auto;
min-width: 280px;
max-width: 360px;
padding: 0.98px;
text-align: center;
}

.feature-card img {
width: 40px;
margin-bottom: 10px;
display: block;
margin-left: auto;
margin-right: auto;

}


.feature-card p {
font-size: 0.96rem;
margin-bottom: 10px;
text-align: left;
color: #ccc;
}

@media (max-width: 768px) {
.features-grid {
flex-direction: column;
align-items: center;
}

.features-section h1 {
font-size: 2rem;
}
.features-section h2 {
font-size: 1rem;
}

.feature-card {
max-width: 90%;
}

.feature-card img {
max-width: 100%;
height: auto;
}
}